.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: $blanc;
  box-shadow: 0px 4px 4px #00000040;
  height: 122px;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
  margin-left: 180px;
}

.navbar-lewagon .navbar-brand img {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-lewagon .navbar-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.logo {
  width: 135px;
  height: 135px;
}

.teamties {
  border-right: solid;
  padding-right: 1em;
  color: #FE3A4A;
  margin: 1em;
  font-weight: bold;
  font-size: xx-large;
}
