$gris-moyen: rgba(102, 102, 102, 1);
$gris-fonce: rgba(51, 51, 51, 1);
$gris-clair: rgba(153, 153, 153, 1);
$gris-tres-clair: rgba(204, 204, 204, 1);
$blanc: rgba(255, 255, 255, 1);
$jaune: rgba(251, 227, 77, 1);
$violet: rgba(199, 191, 248, 1);
$bleu: rgba(57, 83, 177, 1);
$cyan-pastel: rgba(197, 231, 238, 1);
$orange: rgba(255, 212, 130, 1);
$success: rgba(92, 184, 92, 1);
$danger: rgba(217, 83, 79, 1);
$primary: rgba(2, 117, 216, 1);
$gris-card: rgba(238, 238, 238, 1);
$contour-dor: rgba(255, 212, 130, 1);
$bullet-no-information: rgba(217, 217, 217, 1);
$bleu-team-ties: rgba(100, 132, 162, 1);
$mauve-teamties: rgba(132, 75, 133, 1);
$rouge-team-ties: rgba(245, 70, 81, 1);
$dark-purple: rgba(132, 75, 133, 1);
$popup: rgba(119, 73, 248, 1);

.navbar-font {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 400;
  color: black;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
}

.navbar-font:hover {
  background: linear-gradient(to bottom right, #844B85, #DD4C58);
  color: white;
  border-radius: 25px;
  border: none;
}
