<div id="message-<%= message.id %>">
  <p>
  <%= message.user.pseudo %> - <%= message.created_at.strftime("%d/%m %H:%M") %>
  </p>
    <div class="content">
      <%= message.content %>
    </div>
  </div>
