.banner {
  padding: 50px;
  background: linear-gradient(90deg, rgba(132, 75, 133, 0.15) 0%, rgba(221, 76, 88, 0.15) 100%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.banner h1 {
  margin-bottom: 30px;
}

.infos-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.hello-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.share-link {
  text-align: center;
  margin: auto;
}

.buttons-flex {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.performance-container {
  border-radius: 22px;
  background: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

.flex-perf {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.perf-category {
  text-align: center;
}

.perf-icon {
  margin-bottom: 10px
}

.perf-text {
  width: 200px
}

.partial {
  flex: 1 0 auto;
}

.bottom-dashboard {
  display: flex;
  justify-content: space-between;
}

.btn-share {
  background-color: white;
  width: 240px;
  opacity: 0.9;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-share:hover {
  background: linear-gradient(to bottom right, #844B85, #DD4C58);
  color: white;
  border-radius: 25px;
  border: none;
}

.container p {
  font-size: 18px;
}

.card-body {
  background-color: transparent;
  border: none;
}

.btn-test {
  /* Dégradé de couleur */
  background: linear-gradient(to bottom right, #DD4C58, #844B85);
  /* Autres styles de mise en forme */
  color: white;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  /* Ajoutez d'autres styles selon vos besoins */
}

/* Style pour le bouton au survol */
.btn-test:hover {
  background: linear-gradient(to top left, #DD4C58, #844B85);
  color: white;
  /* Ajoutez d'autres styles au survol */
}

/* Style pour le bouton en état pressé */
.btn-test:active {
  /* Par exemple, réduire légèrement l'ombre ou la taille */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
  /* Ajoutez d'autres styles pour l'état pressé */
}

.buttons-flex .fa-regular {
  padding-right: 5px;
}

.buttons-flex .fa-solid {
  padding-right: 5px;
}
