.edit-container {
    margin: 50px;
    width: 50%;
  }
.edit-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

.edit-category-right {
    text-align: left;
    margin-top: 2em;
}

.team-add {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  color: #844B85;
  font-weight: bold;
}

.fa-circle-plus {
  margin-left: 0.5em;
  font-size: 24px;
  color: #844B85;
}

.fa-circle-plus:hover {
  margin-left: 0.5em;
  font-size: 24px;
  color: #ab95ab;
}

.team-form {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.redirect-btn {
  text-decoration: none;
  text-decoration: none;
  background-color: green;
  padding: 0.5em;
  color: white;
  border-radius: 7px;
}

.redirect-btn:hover {
  opacity: 80%;
}

.info {
  padding: 10px;
  margin-top: 1em;
  background-color: #ffe8bd;
  border-radius: 7px;
  opacity: 60%;
  width: auto;
}