.edit-container {
    margin: 50px;
    width: 50%;
  }
.edit-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

.edit-category-right {
    text-align: left;
    margin-top: 2em;
}