// Specific CSS for your home-page
.home-img {
  height: 93vh;
  width: 50%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0.37) 100%), url("img-banniere.jpg") lightgray 50% / cover no-repeat;
}

.home-degrade {
  background: radial-gradient(137.75% 103.42% at 90.35% 97.6%, #DD4C58 3.6%, #844B85 100%);
  height: 93vh;
  width: 50%;
  position: relative;
}

.home-degrade h1 {
  color: #FFF;
  text-align: left;
  font-size: 8vw;
  font-weight: 400;
  letter-spacing: 8px;
}

.home-ban {
  display: flex;
  width: 100%;
}

.word-ban {
  position: absolute;
  left: -1.2em;
  top: 20vh;
}

.p-ban {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: absolute;
  left: -25vw;
  top: 45vh;
  text-align: center;
  // width: 100%;
}

#text-white {
  color: white;
  text-shadow: 0px 4px 4px #000;
  font-size: 1vw;
}

.p-ban a {
  background-color: white;
  width: 265px;
  opacity: 1;
  margin-top: 35px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.p-ban .fa-regular {
  padding-right: 5px;
}

.p-ban .fa-solid {
  padding-right: 5px;
}

.p-ban .btn:hover {
  background: linear-gradient(to bottom right, #844B85, #DD4C58);
  color: white;
  border-radius: 25px;
  border: none;
}

#second-word {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.btn-right {
  margin-left: 10px;
}
.btn-left {
  margin-right: 10px;
}


.infos {
  display: flex;
  margin-top: 50px;
}

.uefa-img {
	max-width: 100%;
	height: auto;
  border-radius: 70px
}

.text-infos {
  margin: 20px 50px;
  align-self: center;
}

.text-infos h1 {
  border-bottom: solid 2px #FE3A4A;
}

.text-infos p {
  margin-top: 25px
}

.infos-img {
  margin: 0px 30px
}

.rules {
  margin: 30px 50px;
}

.rules h1 {
  border-bottom: solid 2px #FE3A4A;
  margin-bottom: 20px
}

.rules ol {
  list-style: none;
}

.rules ul {
  list-style: none;
}

.rules .fa-solid {
  margin-right: 10px;
}
