
.filter-by-date {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 1.5em;
  position: sticky;
  top: 0; /* Adjust as needed */
  background-color: white; /* Just for visibility */
  padding: 20px;
  align-items: center;
}
.matchs {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    margin-bottom: 50px;
}

.prono-banner {
  background: linear-gradient(90deg, rgba(132, 75, 133, 0.2) 0%, rgba(221, 76, 88, 0.2) 100%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.day-matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.2rem;
}

// .match {
//     border: 2px solid #e7e7e7;
//     border-radius: 4px;
//     padding: .5rem;
// }

.flag img {
  max-width: 100%;
  height: auto;
}

.match {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.home-team,
.away-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag img {
  width: 50px;
  height: auto;
}

.team-flag {
  position: relative;
}

.team-flag:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: white;
  border: 2px solid #e7e7e7;
  border-radius: 50%;
  z-index: 1;
}

.home-team .team-name,
.away-team .team-name {
  text-align: center;
  margin-top: 10px;
}

.day-date {
  margin: inherit;
  margin-top: 3em;
}
.prono-title {
  border-bottom: 2px solid #FE3A4A;
}
