
.tabs {
  margin-top: 2em;
  text-decoration: none;
  font-size: large;
  display: inline-block;
}

.tabs a {
  text-decoration: none;
  color: black;
}
.filter-by-date {
  display: flex;
  flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne si nécessaire */
  justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 1.5em;
  position: sticky;
  top: 100px; /* Adjust as needed */
  padding: 20px;
  align-items: center;
}

/* Media queries pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
  .filter-by-date {
    flex-direction: row; /* Afficher les éléments en colonne */
    position: static;

  }
}

.matchs {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    margin-bottom: 50px;
}

.prono-banner {
  background: linear-gradient(90deg, rgba(132, 75, 133, 0.2) 0%, rgba(221, 76, 88, 0.2) 100%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.day-matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.2rem;
}

@media screen and (max-width: 1279px) {
  /* Appliquer ces styles lorsque la largeur de l'écran est inférieure ou égale à 768px */
  .day-matchs {
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes au lieu de 3 */
  }
}

@media screen and (max-width: 767px) {
  /* Appliquer ces styles lorsque la largeur de l'écran est inférieure ou égale à 480px */
  .day-matchs {
      grid-template-columns: 1fr; /* 1 colonne */
  }
}

.flag img {
  max-width: 100%;
  height: auto;
}

.match {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.home-team,
.away-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag img {
  width: 50px;
  height: auto;
}

.team-flag {
  position: relative;
}

.team-flag:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: white;
  border: 2px solid #e7e7e7;
  border-radius: 50%;
  z-index: 1;
}

.home-team .team-name,
.away-team .team-name {
  text-align: center;
  margin-top: 10px;
}

.day-date {
  margin: inherit;
  margin-top: 3em;
}
.prono-title {
  border-bottom: 2px solid #FE3A4A;
}

.btn-filter {
  /* Dégradé de couleur */
  background: linear-gradient(to bottom right, #DD4C58, #844B85);
  /* Autres styles de mise en forme */
  color: white;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 11px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  /* Ajoutez d'autres styles selon vos besoins */
}

/* Style pour le bouton au survol */
.btn-filter:hover {
  background: linear-gradient(to top left, #DD4C58, #844B85);
  color: white;
  /* Ajoutez d'autres styles au survol */
}

/* Style pour le bouton en état pressé */
.btn-filter:active {
  /* Par exemple, réduire légèrement l'ombre ou la taille */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
  /* Ajoutez d'autres styles pour l'état pressé */
}