.ranking-container {
  margin: 50px;

}

.ranking-flex {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1439px) {
  /* Mettre les éléments l'un en dessous de l'autre */
  .ranking-flex {
    flex-direction: column; /* Mettre les éléments en colonne */
  }
}

.title-cat-left {
  text-align: right;
  border-bottom: solid 2px #FE3A4A;
  margin-top: 2em;
}

.title-cat-right {
  text-align: left;
  border-bottom: solid 2px #FE3A4A;
  margin-top: 2em;
}

.card-table table {
  width: 100%; /* Utiliser 100% pour que le tableau s'adapte à la largeur de son conteneur */
  line-height: 25px;
}

.ranking-category-left,
.ranking-category-right {
  width: 100%; /* Utiliser 100% pour que les catégories s'adaptent à la largeur de leur conteneur */
  max-width: 700px; /* Limiter la largeur maximale pour assurer une meilleure lisibilité sur de grands écrans */
  margin: 0 auto; /* Centrer les éléments horizontalement */
}

.card-table {
  margin-top: 3vw; /* Utiliser une marge relative à la largeur de la vue pour un espacement plus flexible */
  border-radius: 2vw; /* Utiliser un rayon de bordure relatif à la largeur de la vue pour une apparence plus fluide */
  background: #F5F5F5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 4vw; /* Utiliser un padding relatif à la largeur de la vue pour un espacement plus flexible */
  padding-left: 6vw; /* Ajuster le padding gauche en conséquence */
  height: auto;
}

/* Ajouter des règles de media queries pour ajuster les styles selon la taille de l'écran */
@media screen and (max-width: 768px) {
  .card-table {
    padding: 5vw;
    padding-left: 7vw;
  }
}

@media screen and (max-width: 400px) {
  .card-table {
    padding: 5vw;
    padding-left: 7vw;
    font-size: 12px;
  }
}


.ranking-category-left thead tr {
  background-color: #844B85;
  color: white;
  line-height: 30px;
}

.ranking-category-right thead tr {
  background-color: #6484a2;
  color: white;
  line-height: 30px;
}

.ranking-category-left thead th:nth-child(1) {
  width: 5%;
  border-right: solid;
  text-align: center;
}

.ranking-category-left thead th:nth-child(2) {
  width: 40%;
  border-right: solid;
  text-align: left;
  padding-left: 10px;
}

.ranking-category-left thead th:nth-child(3) {
  width: 40%;
  border-right: solid;
  text-align: left;
  padding-left: 10px;
}

.ranking-category-left thead th:nth-child(4) {
  width: 15%;
  text-align: center;
}

.ranking-category-left tbody th:nth-child(1) {
  text-align: center;
  border-bottom: solid thin;
  border-color: white;
}

.ranking-category-left tbody td:nth-child(2) {
  border-bottom: solid thin;
  border-color: white;
  text-align: left;
  padding-left: 10px;
}

.ranking-category-left tbody td:nth-child(3) {
  border-bottom: solid thin;
  border-color: white;
  text-align: left;
  padding-left: 10px;
}

.ranking-category-left tbody td:nth-child(4) {
  border-bottom: solid thin;
  border-color: white;
  text-align: center;
  font-weight: 600;
}

.ranking-category-right thead th:nth-child(1) {
  width: 5%;
  border-right: solid;
  text-align: center;
}

.ranking-category-right thead th:nth-child(2) {
  width: 80%;
  border-right: solid;
  text-align: left;
  padding-left: 10px;
}

.ranking-category-right thead th:nth-child(3) {
  width: 15%;
  border-right: solid;
  text-align: center;
}

.ranking-category-right tbody th:nth-child(1) {
  text-align: center;
  border-bottom: solid thin;
  border-color: white;
}

.ranking-category-right tbody td:nth-child(2) {
  border-bottom: solid thin;
  border-color: white;
  text-align: left;
  padding-left: 10px;
}

.ranking-category-right tbody td:nth-child(3) {
  border-bottom: solid thin;
  border-color: white;
  text-align: center;
  font-weight: 600;
}
