<%# <div class="alert alert-dismissible alert-warning text-center cookie-alert" role="alert">
  Ce site utilise des cookies pour vous offrir la meilleure expérience utilisateur. En continuant à naviguer sur ce site, vous acceptez notre utilisation des cookies. <a href="/politique-de-confidentialite" class="alert-link">En savoir plus</a>.
  <button type="button" class="btn btn-primary btn-sm accept-cookies">Accepter</button>
</div> %>

<div class="flash flash-popup alert alert-dismissible fade show fixed-bottom" role="alert" data-controller="fade-out" id="flash-alert">
  <span> Ce site utilise des cookies pour vous offrir la meilleure expérience utilisateur. En continuant à naviguer sur ce site, vous acceptez notre utilisation des cookies. </span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
