<div class="container">
    <%= simple_form_for([@game, @user_game], url: game_users_game_path(@game, @user_game)) do |f| %>
        <div class="final-winner">
            <%= f.label :final_winner_id, "Equipe championne ?", class: "mb-2" %>
            <%= f.collection_select :final_winner_id, Team.all, :id, :name, class: "form-select", prompt: "Choisis une équipe" %>
        </div>
    <div class="actions">
        <%= f.submit "Valider", class: "btn btn signin-btn" %>
    </div>
    <% end %>
</div>

