<div class="footer">
  <div class="footer-links">
  <div class="footer-text">
  SUIVEZ-NOUS
  </div>
  <div class="links-icon"></div>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by TB team
  </div>
</div>
