<div class="match"> 
    <div class="home-team">
        <div class="flag">
        </div>
        <div class="team-name">
            <%= match.home_team.name %> 
        </div>
        <div class="shape">
        </div>
    </div>

    <div class="score">
        <div>
            <%= match.group %>
        </div>
        <div class="prono">
            <div class="prono-title">
                <p>Mon prono</p>
            </div>
            <div class="my-prono">
                <p>2 - 0</p>
            </div>
        </div>
        <div class="result">
            <div class="result-title">
                <p>Résultat</p>
            </div>
            <div class="result-score">
                <p>3 - 2</p>
            </div>
        </div>
    </div>

    <div class="away-team">
        <div class="flag">
        </div>
        <div class="team-name">
            <%= match.away_team.name %> 
        </div>
        <div class="shape">
        </div>
    </div>
</div>
