<div>
  <%= simple_form_for [@game, match, prono || Pronostic.new] do |f| %>
    <div class="input-prono">
      <% if prono %>
        <%= f.input :home_team_prono, :input_html => { :type => 'text', :inputmode => 'numeric' }, label: false %>
        <%= f.input :away_team_prono, :input_html => { :type => 'text', :inputmode => 'numeric' }, label: false, disabled: true %>
      <% end %>
    </div>
  <% end %>
</div>
