<%# <div class="flash flash-popup alert alert-dismissible fade show" role="alert" data-controller="fade-out" id="flash-alert">
  <span> Rends-toi vite sur la page <strong>'Mes Pronos'</strong> pour les compléter !&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div> %>
