<%# <h1>Pages#home</h1> %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>
<div class="home-ban">
  <div class="home-img"></div>
      <div class="home-degrade">
        <div class="word-ban">
          <h1 class="first-word">Parier</h1>
          <h1 id="second-word">S'amuser</h1>
          <div class="p-ban">
          <p id="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis autem aspernatur perferendis magni non asperiores rem, odit pariatur?</p>
          <%= link_to "Créer une partie", new_game_path, :class=>"btn btn-white" %>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
</div>
