<%# <h1>Pages#home</h1> %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>
<div class="home-ban">
  <div class="home-img"></div>
      <div class="home-degrade">
        <div class="word-ban">
          <h1 class="first-word">Parier</h1>
          <h1 id="second-word">s'amuser</h1>
          <div class="p-ban">
          <p id="text-white">Plongez dans l'excitation de l'EURO 2024 avec "Team Ties", notre application dédiée aux paris entre collègues ! Que vous soyez un amateur passionné de football ou un novice curieux, rejoignez-nous pour une expérience de paris fun et conviviale.</p>
          <%= link_to "Créer une partie", new_game_path, :class=>"btn btn-left" %>
          <%= link_to "Rejoindre une partie", games_check_code_path, :class=>"btn btn-right" %>
          </div>
        </div>
      </div>
    </div>
    <div class="infos">
    <div class ="infos-img">
    <img src="https://static.vecteezy.com/ti/vecteur-libre/p1/22700816-euro-2024-allemagne-officiel-logo-avec-nom-symbole-europeen-football-final-conception-illustration-vecteur-avec-retour-contexte-gratuit-vectoriel.jpg" class="uefa-img"/></div>
    <div class="text-infos">
      <h1>EURO 2024 de football</h1>
      <p>L'Euro 2024 de football est un tournoi européen majeur qui se déroule tous les quatre ans. Pour cette édition,
      l'Allemagne a été choisie comme pays hôte. Le tournoi rassemble les meilleures équipes nationales européennes qui
      s'affrontent pour remporter le titre de champion d'Europe. Les matches sont disputés dans plusieurs villes à travers
      le pays hôte. L'Euro 2024 est une compétition très attendue qui attire l'attention des amateurs de football du monde entier.
      </p>
    </div>
    </div>
    <div class="infos">
    <div class="text-infos">
    <h1 class="text-end">Team Ties - Le principe</h1>
      <p class="text-end">
        Le jeu de pronostic Team Ties a été créé par 4 "étudiants" dans le cadre de leur formation
        "Le Wagon - Développement Web" dispensée au cours des mois de février et mars 2024. Cette application a pour
        objectif principal de permettre aux gens de créer du lien et stimuler des interactions au sein d'une entreprise ou, tout simplement, un groupe d'amis.
      </p>
    </div>
    <div class="infos-img">
    <%= image_tag "logo.png", class: "uefa-img" %>
    </div>
    </div>

<div class="rules">
    <h1>Team Ties - Règles du Jeu</h1>
        <ol>
            <li><i class="fa-solid fa-circle-user"></i><strong>Inscription :</strong>
                <ul>
                    <li>Les participants doivent s'inscrire sur la plateforme de pronostics avant le début de l'EURO 2024.</li>
                    <li>Chaque participant doit créer un compte avec un pseudonyme ou utiliser son nom réel.</li>
                </ul>
            </li>
            <li><i class="fa-solid fa-chart-line"></i><strong>Pronostics :</strong>
                <ul>
                    <li>Avant le début de chaque match, les participants doivent soumettre leurs pronostics pour le résultat du match.</li>
                    <li>Les pronostics comprennent le score exact du match ou le résultat (victoire, match nul, défaite) pour chaque équipe.</li>
                    <li>Les pronostics doivent être soumis avant l'heure de début officielle du match.</li>
                </ul>
            </li>
            <li><i class="fa-solid fa-circle-up"></i><strong>Points :</strong>
                <ul>
                    <li>Les participants gagnent des points en fonction de l'exactitude de leurs pronostics.</li>
                    <li>Si un participant prédit correctement le score exact du match, il obtient un nombre maximum de points.</li>
                    <li>Si un participant prédit correctement le résultat du match (victoire, match nul, défaite) pour une équipe, il obtient un nombre réduit de points.</li>
                </ul>
            </li>
            <li><i class="fa-solid fa-ranking-star"></i><strong>Classement :</strong>
                <ul>
                    <li>Un classement est établi en fonction du nombre de points accumulés par chaque participant tout au long de la compétition.</li>
                    <li>Le participant avec le plus grand nombre de points à la fin de l'EURO 2024 est déclaré vainqueur du jeu de pronostics.</li>
                </ul>
            </li>
            <li><i class="fa-solid fa-medal"></i><strong>Récompenses :</strong>
                <ul>
                    <li>Des récompenses peuvent être attribuées aux participants ayant obtenu les meilleurs résultats, telles que des prix en espèces, des trophées virtuels ou des certificats de réussite.</li>
                </ul>
            </li>
            <li><i class="fa-solid fa-scale-balanced"></i><strong>Fair-play et Respect :</strong>
                <ul>
                    <li>Les participants doivent respecter les autres joueurs et ne pas utiliser de langage offensant ou inapproprié sur la plateforme de pronostics.</li>
                    <li>Toute tentative de tricherie ou de manipulation des pronostics entraînera la disqualification immédiate du participant concerné.</li>
                </ul>
            </li>
        </ol>
        <p>En suivant ces règles, nous créons un environnement compétitif et amusant pour les amateurs de football lors de l'EURO 2024. Que le meilleur pronostiqueur gagne !</p>
</div>
