<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Add game", new_game_path, :class=>"btn btn-primary" %>
<br>
<%= link_to "Join game", new_users_game_path, :class=>"btn btn-success" %>

