<%# <h1>Pages#home</h1> %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>
<div class="home-ban">
  <div class="home-img"></div>
      <div class="home-degrade">
        <div class="word-ban">
          <h1 class="first-word">Parier</h1>
          <h1 id="second-word">S'amuser</h1>
          <div class="p-ban">
          <p id="text-white">Plongez dans l'excitation de l'EURO 2024 avec "Team Ties", notre application dédiée aux paris entre collègues ! Que vous soyez un amateur passionné de football ou un novice curieux, rejoignez-nous pour une expérience de paris fun et conviviale.</p>
          <%= link_to "Créer une partie", new_game_path, :class=>"btn btn-left" %>
          <%= link_to "Rejoindre une partie", new_users_game_path, :class=>"btn btn-right" %>
          </div>
        </div>
      </div>
    </div>
