<div class="container">
  <div class="party">
    <h2>Créer une nouvelle partie</h2>
    <%= simple_form_for @game do |f| %>
        <%# <%= f.label :name, :placeholder => 'Nom de la partie' %>
        <%= f.text_field :name, :placeholder => 'Nom de la partie' %>
        <%= f.button :submit, 'Valider'%>
    <% end %>
  </div>
</div>
