<div class="container">
  <div class="party">
    <h2>Créer une nouvelle partie</h2>
    <%= simple_form_for @game, local: true do |f| %>
      <%= f.text_field :name, :placeholder => 'Nom de la partie' %>
      <%= f.button :submit, 'Créer une partie' %>
    <% end %>
  </div>
</div>
