#new_game {
  padding: 35px 50px;
  display: inline-grid;
  justify-items: center;
}

#game_name {
  border: none;
  border-radius: 5px;
  padding: 7px;
}

#game_code {
  margin-top: 7px;
}


#new_game .btn {
  background-color: white;
  width: 240px;
  opacity: 0.9;
  margin-top: 35px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

#new_game .btn:hover {
  background-color: white;
  color: black;
  opacity: 1;
}
