.party {
  text-align: center;
  margin: 30vh auto;
}

#new_users_game {
  padding: 35px 50px;
  border-radius: 10px;
  display: inline-grid;
  justify-items: center;
  background-color: #844B85;
}

#game_code {

}
