.party {
  text-align: center;
  margin: 24vh auto;
  background-color: #dbc8db;
  padding: 20px;
  border-radius: 20px;
  color: white;
  width: 65vh;
}
@media only screen and (max-width: 880px) {
  .party {
    width: 90%;
  }
}

.party h1 {
  color: black;
}
.party h2 {
  color: black;
}

#new_users_game {
  padding: 35px 1px;
  display: inline-grid;
  justify-items: center;
}

#game_code {
  border: none;
  border-radius: 5px;
  padding: 7px;
}

#new_users_game .btn {
  background-color: white;
  width: 265px;
  opacity: 1;
  margin-top: 35px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

#new_users_game .btn:hover {
  background: linear-gradient(to bottom right, #844B85, #DD4C58);
  color: white;
  border-radius: 25px;
  border: none;
}

#users_game_department {
  border: none;
  border-radius: 5px;
  padding: 7px;
}

#code {
  border: none;
  border-radius: 5px;
  padding: 7px;
}

.mb-3.select.optional.users_game_department {
  width: 100%;
}

.mb-3.string.optional.users_game_department {
  width: 100%;
}
