.match {
    width: 80%;
    height: 175px;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
    margin: auto;
}


