.message-row {
  margin-bottom: 10px;
  padding: 8px;

  p {
    font-style: italic;
    font-weight: 300;
  }
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
  border-radius: 20px;
  padding: 10px 20px
}

.sender-style {
  background-color: #dbc8db;
}

.receiver-style {
  background-color: #febec4;
}
