.podium-container {
  margin: 5%; /* Utilisation d'une marge relative */
  max-width: 100%; /* Utilisation d'une largeur maximale relative */
}

/* Media queries pour les écrans de petite taille */
@media only screen and (max-width: 768px) {
  .podium-container {
    width: 100%; /* Pour les écrans plus petits, utiliser 100% de la largeur */
  }
}

/* Media queries pour les écrans de taille moyenne */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .podium-container {
    width: 90%; /* Pour les écrans de taille moyenne, utiliser 90% de la largeur */
  }
}

/* Media queries pour les écrans de grande taille */
@media only screen and (min-width: 1025px) {
  .podium-container {
    width: 725px; /* Pour les écrans plus grands, utiliser une largeur fixe de 725px */
  }
}

.title-podium-cat {
  text-align: right;
  border-bottom: solid 2px #FE3A4A;
  margin-top: 30px;
}

.podium-table table {
  width: 100%; /* Utilisation d'une largeur relative */
  max-width: 100%; /* Largeur maximale relative */
  line-height: 25px;
}

/* Media queries pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
  .podium-table table {
    font-size: 80%; /* Réduire la taille de la police pour les écrans plus petits */
  }
}

.podium-table {
  margin-top: 3%; /* Utilisation d'une marge relative */
  border-radius: 22px;
  padding: 2% 3%; /* Utilisation d'un padding relatif */
  padding-left: 8%; /* Utilisation d'un padding relatif */
  height: auto;
}

/* Media queries pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
  .podium-table {
    padding: 5% 8%; /* Réduire le padding pour les écrans plus petits */
  }
}

.podium-category-ind tbody tr:nth-child(odd) {
  background-color: #e2d2e2;
}

.podium-category-ind thead tr {
  color: #844B85;
  line-height: 30px;
}

.podium-category-col tbody tr:nth-child(odd) {
  background-color: #daeaf9;
}

.podium-category-col thead tr {
  color: #6484a2;
  line-height: 30px;
}

.podium-category-ind thead th:nth-child(1) {
  width: 5%;
  text-align: center;
}

.podium-category-ind thead th:nth-child(2) {
  width: 40%;
  text-align: left;
  padding-left: 10px;
}

.podium-category-ind thead th:nth-child(3) {
  width: 40%;
  text-align: left;
  padding-left: 10px;
}

.podium-category-ind thead th:nth-child(4) {
  width: 15%;
  text-align: center;
}

.podium-category-ind tbody th:nth-child(1) {
  text-align: center;
}

.podium-category-ind tbody td:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}

.podium-category-ind tbody td:nth-child(3) {
  text-align: left;
  padding-left: 10px;
}

.podium-category-ind tbody td:nth-child(4) {
  text-align: center;
  font-weight: 600;
}

.podium-category-col thead th:nth-child(1) {
  width: 5%;
  text-align: center;
}

.podium-category-col thead th:nth-child(2) {
  width: 80%;
  text-align: left;
  padding-left: 10px;
}

.podium-category-col thead th:nth-child(3) {
  width: 15%;
  text-align: center;
}

.podium-category-col tbody th:nth-child(1) {
  text-align: center;
  }

.podium-category-col tbody td:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}

.podium-category-col tbody td:nth-child(3) {
  text-align: center;
  font-weight: 600;
}
