.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}

.flash-popup {
  border: 2px solid #7749F8;
  background: #7749F8;
  color: white;
  position: absolute;
  top: 0px;
  bottom: 630px;
  align-items: flex-end;
  height: 43px;
  padding-top: 38px;
}
